################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Demo.MicroService.Project/Demo.MicroService.AuthenticationCenter/obj
/Demo.MicroService.Project/Demo.MicroService.BusinessDomain/bin/Debug/net7.0
/Demo.MicroService.Project/Demo.MicroService.BusinessDomain/obj
/Demo.MicroService.Project/Demo.MicroService.BusinessModel/bin/Debug/net7.0
/Demo.MicroService.Project/Demo.MicroService.BusinessModel/obj
/Demo.MicroService.Project/Demo.MicroService.Core/bin/Debug/net7.0
/Demo.MicroService.Project/Demo.MicroService.Core/obj
/Demo.MicroService.Project/Demo.MicroService.CustomerMicroService/bin/Debug/net7.0
/Demo.MicroService.Project/Demo.MicroService.CustomerMicroService/obj
/Demo.MicroService.Project/Demo.MicroService.GatewayCenter/bin/Debug/net7.0
/Demo.MicroService.Project/Demo.MicroService.GatewayCenter/obj
/Demo.MicroService.Project/Demo.MicroService.ProjectMicroService/bin/Debug/net7.0
/Demo.MicroService.Project/Demo.MicroService.ProjectMicroService/obj
/Demo.MicroService.Project/Demo.MicroService.UserMicroservice/bin/Debug/net7.0
/Demo.MicroService.Project/Demo.MicroService.UserMicroservice/obj
/Demo.MicroService.Project/Demo.MicroService.DataInit/bin/Debug/net7.0
/Demo.MicroService.Project/Demo.MicroService.DataInit/obj
/Demo.MicroService.Project/Demo.MicroService.Repository/bin/Debug/net7.0
/Demo.MicroService.Project/Demo.MicroService.Repository/obj
/Demo.MicroService.Project/Demo.MicroService.AuthenticationCenter/bin/Debug/net7.0
/Demo.MicroService.Project/.vs
/Demo.MicroService.Project/.vs/Demo.MicroService.Project/v17/.suo
/Demo.MicroService.Project/XUnitTestDemoMicroService/bin/Debug/net7.0
/Demo.MicroService.Project/XUnitTestDemoMicroService/obj
/Demo.MicroService.Project/.vs/Demo.MicroService.Project/DesignTimeBuild/.dtbcache.v2
/Demo.MicroService.Project/.vs/Demo.MicroService.Project/v17/.futdcache.v2
/Demo.MicroService.Project/.vs/ProjectEvaluation/demo.microservice.project.metadata.v6.1
/Demo.MicroService.Project/.vs/ProjectEvaluation/demo.microservice.project.projects.v6.1
/Demo.MicroService.Project/Demo.MicroService.UserMicroservice/logs/skyapm-20230322.log
/Demo.MicroService.Project/Demo.MicroService.UserMicroservice/logs/skyapm-20230323.log
/Demo.MicroService.Project/Demo.MicroService.UserMicroservice/logs/skyapm-20230324.log
/Demo.MicroService.Project/Demo.MicroService.UserMicroservice/logs/skyapm-20230327.log
/Demo.MicroService.Project/GraphQLWebApi/obj/Debug/net7.0
/Demo.MicroService.Project/GraphQLWebApi/obj
/Demo.MicroService.Project/Demo.MicroService.UserMicroservice/logs
/Demo.MicroService.Project/GraphQLWebApi/bin/Debug/net7.0
